<ion-app>
  <ion-header translucent>
  <ion-toolbar color="primary">
  <ion-title color="dark">Checkbox</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
  <ion-list color="dark">
  <ion-list-header color="success">Characters</ion-list-header>

  <ion-item color="warning">
    <ion-avatar slot="start">
      <img src="assets/geekfam.png" />
    </ion-avatar>
    <ion-label>GEEK FAM</ion-label>
  <ion-checkbox checked slot="end"  color="success"></ion-checkbox>
  </ion-item >
  <ion-item color="warning">
    <ion-checkbox checked slot="end"></ion-checkbox>
  <ion-label>Xorn</ion-label>
  </ion-item >
  <ion-item color="warning"> 
    <ion-checkbox checked slot="end"  color="success"></ion-checkbox>
  <ion-label>ART</ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-checkbox checked slot="end"></ion-checkbox>
  <ion-label>DOMINUS</ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-checkbox checked slot="end"  color="success"></ion-checkbox>
  <ion-label>FEEKZ</ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-checkbox checked slot="end"></ion-checkbox>
  <ion-label>RIPPO</ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-checkbox checked slot="end"  color="success"></ion-checkbox>
  <ion-label>AMOUX</ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-checkbox checked slot="end"></ion-checkbox>
  <ion-label>MIYAMURA</ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-checkbox checked slot="end"  color="success"></ion-checkbox>
 <ion-label>PAINHUNTER</ion-label>
 </ion-item>
 <ion-item color="warning">
  <ion-checkbox checked slot="end"></ion-checkbox>
 <ion-label>JOJO</ion-label>
 </ion-item>
 <ion-item color="warning">
  <ion-checkbox checked slot="end" color="success"></ion-checkbox>
 <ion-label>TAKI</ion-label>
 </ion-item>
 <ion-item color="warning">
  <ion-checkbox checked slot="end" color="primary"></ion-checkbox>
 <ion-label>JIYAN</ion-label>
 </ion-item>
 </ion-list>
 </ion-content>
 </ion-app>
