<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><br>ML<br></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ML</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <img src="../../assets/ML.jpg" alt="ion">
  <ion-card-header>

    <video
  width="100%"
  controls="controls"
  preload="metadata"
  autoplay="autoplay"
  webkit-playsinline="webkit-playsinline"
  class="videoPlayer">
  <source src="assets/ML.mp4" type="video/mp4" />
  </video>
    <ion-card-title>About Game</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Join your friends in a brand new 5v5 MOBA showdown against real human opponents, Mobile Legends: Bang Bang! Choose your favorite heroes and build the perfect team with your comrades-in-arms! 10-second matchmaking, 10-minute battles. Laning, jungling, tower rushing, team battles, all the fun of PC MOBAs and action games in the palm of your hand! Feed your eSports spirit!

Mobile Legends: Bang Bang, outstanding MOBA game on mobile. Smash and outplay your enemies with teammates to achieve the final victory!

Your phone thirsts for battle!
  </ion-card-content>

</ion-card>