<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><br>LOLM<br></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">LOLM</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <img src="../../assets/LOL.png" alt="ion">
  <ion-card-header>
    <ion-card-title>About Game</ion-card-title>
  </ion-card-header>

  <video
  width="100%"
  controls="controls"
  preload="metadata"
  autoplay="autoplay"
  webkit-playsinline="webkit-playsinline"
  class="videoPlayer">
  <source src="assets/first.mp3" type="video/mp4" />
  </video>
  <ion-card-content>
    League of Legends: Wild Rift is a new mobile reimagining of the world's most popular game, League of Legends. Riot Games has completely rebuilt Summoners Rift (now called Wild Rift) for mobile devices and redesigned many of the game's most popular champions and skins.
  </ion-card-content>

</ion-card>