<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hilang dalam diam
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">KES BUDAK SENGET</ion-title>
    </ion-toolbar>
  </ion-header>

 <div id="container">
   <ion-card>
   <ion-card-header>
     <ion-card-title>DICULIK BUNIAN</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <img src="assets/download.png"/>
     <p>Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware.</p>
   </ion-card-content>
   </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Early years</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    
    <p>Google began in January 1996 as a research project by Larry Page and Sergey Brin when they were both PhD students at Stanford University in California </p>
  </ion-card-content>
  </ion-card>
</div>
</ion-content>

